#magazine-scrutiny-content h1 {
    margin-left: 5%;
}

#magazine-primary-second {
    float: left;
}

#magazine-scrutiny-content {
    width: 100%;
    max-width: 838px;
}
#magazine-scrutiny-inner {
    position: relative;
    top: 69px;
    float: right;
    margin-right: 80px;
}

#magazine-secondary #magazine-nav {
    margin: 15px 0 15px 15px;
}
.magazine-story-container {
    width: 50%;
    float: left;
}
.magazine-category {
    margin-left: 15px;
}
.magazine-category .magazine-story {
    width: 50%;
}
/*
magazine-more
*/

#magazine-more {
    margin: 0px auto;
    width: 960px;
    padding-top: 45px;
}

#magazine-more .other_issues {
    width: 62%;
    float: left;
}

#magazine-more .issue {
    margin-bottom: 20px;
}

#magazine-more .mag_cover {
    width: 68%;
}

#magazine-more .other_articles {
    width: 32%;
    float: left;
}

#magazine-more .mag_cover .cover_image, #magazine-more .mag_cover .preview {
    float: left;
}

#magazine-more .mag_cover .cover_image {
    width: 150px;
    height: 195px;
}

#magazine-more .mag_cover .preview {
    width: 52%;
    padding: 0% 8% 0% 2%;
}

#magazine-more .issue:before, #magazine-more .issue:after {
    display: table;
    content: "";
}

#magazine-more .issue:after {
    clear: both;
}

#magazine-more .preview h2 {
    /*
        TODO: Make it not bold
    */
}

#magazine-more .sidekick-shell {
    width: 300px;
    height: 250px;
    float: right;
}

.magazine-category .magazine-story .magazine-story-inner {
    width: 240px;
    margin: 0px auto;
}

#magazine-tertiary-third hr {
    display: none;
    clear: both;
}

#magazine-tertiary-third .magazine-tertiary-inner {
    position: relative;
}

#magazine-tertiary-third .magazine-story.article {
    height: 100%;
}

@media (max-width: 480px) {
    #magazine-primary-second-content .magazine-cover-story.magazine-story.article img {
        width: auto;
    }
    #magazine-tertiary img {
        width: auto;
    }
    #magazine-tertiary .magazine-story.article { 
        margin: 0px;
    }
    #magazine-tertiary-third .magazine-story.article {
        margin-bottom: 15px;
    }
}

@media (max-width: 484px) {
    .magazine-story-container .magazine-story.article {
        width: 100%;
    }
    #magazine-tertiary-third .magazine-tertiary-inner .magazine-story.article {
        margin-left: 0px;
        margin-right: 0px;
    }
}

/*    #magazine-tertiary-third .magazine-story.article{
        width: 100%;
    }
    #magazine-tertiary-first {
        width: 33%;
    }
    #magazine-tertiary-second {
        width: 58%;
    }
    #magazine-tertiary-third {
        width: 100%;
    }
    #magazine-tertiary-third .magazine-tertiary-inner .magazine-story.article {
        margin-left: 0px;
    }*/

@media (max-width: 500px)  {
    #magazine-tertiary-first {
        width: 33%;
    }
    #magazine-tertiary-second {
        width: 58%;
    }
    #magazine-tertiary-third {
        width: 100%;
    }
    #magazine-tertiary-third .magazine-story.article {
        margin-bottom: 0px;
        width: 50%;
        float: left;
    }

    #magazine-tertiary-third .magazine-tertiary-inner {
        width: 100%;
        margin-bottom: 15px;
    }

    #magazine-tertiary-third .magazine-tertiary-inner:nth-child(3) {
        clear: both;
    }

    #magazine-tertiary-third .magazine-story.article.no-img {
        margin-top: 60px;
    }
    #magazine-tertiary-third hr {
        display: block;
        visibility: hidden;
    }
    #magazine-tertiary-first {
        width: 100%;
    }
    #magazine-tertiary-first .magazine-story.article {
        width: 50%;
        float: left;
    }
    #magazine-tertiary-second {
        width: 90%;
        margin: 5%;
        padding: 0%;
    }
}
@media (min-width: 501px) and (max-width: 805px)  {
    #magazine-tertiary-first {
        width: 33%;
    }
    #magazine-tertiary-second {
        width: 58%;
    }
    #magazine-tertiary-third {
        width: 100%;
    }
    #magazine-tertiary-third .magazine-story.article {
        width: 45%;
        float: left;
        margin: 0% 2.5%;
    }

    #magazine-tertiary-third .magazine-tertiary-inner {
        width: 50%;
        float: left;
    }

    #magazine-tertiary-third .magazine-tertiary-inner:nth-child(3) {
        clear: none;
    }

    #magazine-tertiary-third .magazine-story.article.no-img {
        margin-top: 60px;
    }
    #magazine-tertiary-third hr {
        display: block;
        visibility: hidden;
    }
}

@media (max-width: 960px) {
    .magazine-story-container {
        /*float: none;*/
        margin: 0px auto;
        width: 100%;
    }
    .magazine-category .magazine-story {
        /*float: none;*/
    }
    #magazine-secondary {
        width: 100%;
    }
    #magazine-tertiary {
        width:100%;
    }
}

@media (max-width: 1000px) {
    #magazine-primary-first, #magazine-primary-second {
        width: 100%;
    }
    #magazine-spread img {
        width: 100%;
    }
}








